* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial,sans-serif 
  }
  
  .navbar1 {
    width: 100%;
    height: 48px;
    padding: 5px;
    
    
  }
  
  .navbar2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 12px;
    padding: 4px;
   
  }
  
  .box1 {
    margin: 3px;
    padding: 8px;
    text-align: center;
  }
  .box1:hover {
    text-decoration: underline;
  }
  
  .box1 a {
    color: black;
    font-size: 13px;
    text-decoration: none;
  }
  
  .kube {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    padding: 8px;
    opacity: 0.6;
  }
  
  .navbox1 {
    background-color: #1a73e8;
    border: 1px solid transparent;
    width: 127px;
    height: 36px;
    text-align: center;
    padding: 5px;
    padding-top: 8.50px;
    box-sizing: border-box;
    margin-right: 20px;
    border-radius: 8px;
    color: white;
    margin-top: -4px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 16px;
    vertical-align: middle;
  }
  .navbox1:hover {
    border: 1px solid rgb(133, 173, 246);
    cursor: pointer;
  }
  main {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
  }
  main .middle {
    width: 580px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  main .middle .searchBox {
    position: relative;
    width: 100%;
    margin: 0 20px;
  }

  main .middle .searchBox .search {
    width: 100%;
    padding: 13px;
    padding-left: 45px;
    padding-right: 90px;
    border-radius: 30px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 1em;
    margin-top: 2em;
  }

  main .middle .icon-search {
    position: absolute;
    top: 8em;
    left: 30%;
    display: flex;
    justify-content: center;
    padding: 12px 20px;
    opacity: 0.6;
  }

  main .middle .icons {
    width: 550px;
    position: absolute;
    display: flex;
    justify-content: end;
    top: 8.6em;
    gap: 13px;
  }

  section .buttons {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 1.8em;
  }

  section .buttons button {
    margin: 0 5px;
    padding: 12px 20px;
    color: #555;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid transparent;
    outline: none;
  }

  .buttons button:hover {
    border: 1px solid #ccc;
  }

footer .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f2f2f2;
}

footer .footer .nav {
  padding: 15px 25px ;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

footer .footer .nav.nav2 {
  display: flex;
  justify-content: space-between;
}

footer .footer .nav.nav2 ul {
  display: flex;
  list-style: none;
}

footer .footer .nav.nav2 ul li a {
  text-decoration: none; 
  font-size: 14px;
  color: #5f6368;
  margin-right: 25px;
  opacity: 0.8;
  }

footer .footer .nav.nav2 ul li a:hover {
  text-decoration: underline;
}

.country {
  opacity: 0.5;
}
